.idea/.gitignore
.idea/digitial-life.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
vits_server/models/?*.?*
vits_server/?*.wav
